.DS_STORE
.idea
.venv
.venv-linux
venv
files
__pycache__
tests
test
secret
secrets
database.sqlite
.dockerignore
.gitignore
.github
Dockerfile
docker-compose.yml
README.md
auth
certs
cert
.secret
.secrets
*.pyc
data
